{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "graphql"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "react": {
      "version": "16.8.6"
    }
  },
  "rules": {
    "no-console": "warn",
    "react/prop-types": "warn",
    "react/display-name": "off",
    "prettier/prettier": "warn",
    "graphql/template-strings": ["error", { "env": "literal" }]
  },
  "overrides": [
    {
      "files": ["*.graphql", "*.gql"]
    }
  ]
}
